@mixin clearfix {
    zoom: 1;

    &:before,
    &:after {
        display: block;
        height: 0;
        visibility: hidden;
        content: "\0020";
    }

    &:after {
        clear: both;
    }
}

@mixin action-link {
    a {
        color: #337;
        text-decoration: none;
    }
    :hover {
        color: #22F;
        text-decoration: underline;
    }
}

@mixin border-radius {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

@mixin box-shadow {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

@mixin border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

@mixin dialog {
    @include border-radius;
    @include box-shadow;

    background: #FFF;
    padding: 30px; 
    display: none;
}

html {
    width: 100%;
    height: 100%;
    body {
        @include border-box;

        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        header {
            overflow: visible;
            height: 0;
            
            .secret-indicator {
                width: 14px;
                height: 14px;
            }
            .user-icon {
                width: 12px;
                height: 12px;
            }
            .navbar {
                box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
                position: relative;
                z-index: 2;
            }
        }

        .pane-holder {
            @include border-box;

            width: 100%;
            height: 100%;
            padding-top: 42px;

            .information-pane {
                @include border-box;

                width: 240px;
                height: 100%;
                float: right;
                background-color: #f0f0f0;
                border-left: solid 1px #BBB;
                box-shadow: -2px 0px 4px 0px rgba(0,0,0,0.25);
                padding: 8px;
                position: relative;
                z-index: 1;
            }
            .workspace-pane {
                @include border-box;

                width: 100%;
                height: 100%;
                padding-right: 240px;
                position: relative;

                .workspace {
                    @include border-box;

                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    ul {
                        height: 100%;
                        li {
                            float: left;
                            list-style:none;
                            margin: 0;
                            height: 100%;
                        }
                    }
                    .controls {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 240px;
                        bottom: 0;
                        pointer-events: none;

                        .floating-button {
                            position: absolute;
                            border-radius: 5px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            background: rgba(0, 0, 0, 0.2);
                            color: #fff;
                            text-decoration: none;
                            width: 48px;
                            height: 48px;
                            pointer-events: auto;

                            span {
                                width: 48px;
                                height: 48px;
                                display: table-cell;
                                vertical-align: middle;
                                text-align: center;
                            }

                        }

                        .prev-slide {
                            top: 45%;
                            left: -8px;

                            .left-button {
                                width: 16px;
                                height: 24px;
                            }
                        }

                        .next-slide {
                            top: 45%;
                            right: -8px;

                            .right-button {
                                width: 16px;
                                height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.hidden {
    display: none;
}

.ribbon-outer {
    @include border-box;
    float: left;
    padding: 16px;
    height: 100%;
    .ribbon {
        @include border-radius;
        @include border-box;
        padding: 8px;
        width: 360px;
        background-color: #eeeeee;
        height: 100%;
        overflow: hidden;

        .ribbon-inner {
            @include border-box;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            textarea {
                width: 240px;
            }
            .ribbon-header {
                h1 {
                    float: left;
                    font-size: 24px;
                    margin: 8px;
                    .ribbon-permission {
                        width: 22px;
                        height: 22px;
                        vertical-align: top;
                        margin-top: 8px;
                    }
                }
                .indicators {
                    float: right;
                    .secret-indicator {
                        width: 12px;
                        height: 12px;
                        margin-top: 4px;
                        margin-right: 8px;
                        float: right;
                    }
                    .close-button {
                        width: 12px;
                        height: 12px;
                        float: right;
                        margin-top: 4px;
                        margin-right: 4px;
                    }
                }
                h2 {
                    clear:both;
                    font-size: 10px;
                    line-height: 12px;
                    padding: 0px;
                    margin: 0px;
                    margin-top: 22px;
                }
                @include clearfix;
            }
            .no-article {
                height: 48px;
                text-align: center;
                color: #AAA;
            }
        }
        form {
            margin-bottom: 8px;
        }
    }
}

.timeline {
    max-height: 100%;
    .post {
        border-top: 1px dashed #ccc;
        padding-top: 5px;
        padding-bottom: 5px;

        .avatar {
            clear: left;
            width: 48px;
            height: 40px;
            float: left;

            .icon {
                width: 40px;
                height: 40px;
                // border: solid 1px #BBB;
            }
        }

        .entry {
            margin-left: 48px;

            .author {
                height: 18px;
                line-height: 18px;

                .username {
                    font-size: 85%;
                    color: #444;
                }

                .favored-by {
                    margin-left: 8px;
                    img {
                        vertical-align: middle;
                    }
                }

                .favorite {
                    font-size: 70%;
                    color: #999;
                    @include action-link;
                }

                .elapsed {
                    font-size: 70%;
                    color: #999;
                    margin-left: 4px;
                    margin-right: 4px;
                }
            }

            .content {
                margin-top: 2px;
                margin-bottom: 4px;
                padding-right: 8px;
                word-break: break-all;
            }

            .comments {
                display: none;
                margin-top: 8px;

                .close-button {
                    width: 24px;
                    height: 0px;
                    position: relative;
                    margin-left: -16px;
                    @include action-link;
                }             
            }

            .operation {
                img {
                    width: 16px;
                    height: 16px;
                    vertical-align: top;
                    margin-top: -2px;
                    margin-right: -2px;
                }
                font-size: 75%;
                @include action-link;
                height: 12px;
            }

            .comment-form {
                textarea {
                    width: 240px;
                }
                display: none;
                margin-top: 4px;
            }
        }
    }
    [post-type="ArticleLog"] {
        .avatar {
            width: 16px;
            height: 16px;

            .icon {
                width: 16px;
                height: 16px;
            }
        }
        .entry {
            margin-left: 20px;
            .author {
                float: left;

                strong {
                    display: none;
                }
                .favored-by {
                    display: none;
                }
                .favorite {
                    display: none;
                }
                .elapsed {
                    margin-left: 0px;
                }
            }
            .content {
                color: #999;
            }
        }
    }
}

#lean-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#stamp-chooser {
    @include dialog;
 
    max-width: 600px;

    p {
        color: #666;
        text-shadow: none; 
    }
}

.dialog {
    @include dialog;
}

#board-menu-trigger {
    float: right;
}

.dialog-grid {
    .item-name {
        text-align: right;
        font-weight: bold;
    }
    td {
        padding: 8px;
    }
    label {
        width: 240px;
    }
}

.tooltip {
    z-index: 60000;
}
