@mixin clearfix {
    zoom: 1;

    &:before,
    &:after {
        display: block;
        height: 0;
        visibility: hidden;
        content: "\0020";
    }

    &:after {
        clear: both;
    }
}

@mixin action-link {
    a {
        color: #337;
        text-decoration: none;
    }
    :hover {
        color: #22F;
        text-decoration: underline;
    }
}

@mixin border-radius {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

@mixin box-shadow {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

@mixin border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

@mixin dialog {
    @include border-radius;
    @include box-shadow;

    background: #FFF;
    padding: 30px; 
    display: none;
}

html {
    width: 100%;
    height: 100%;
    body {
        margin: 0;
        width: 100%;
        height: 100%;

        @include border-box;
    }
    header {
        height: 0;
        .secret-indicator {
            width: 14px;
            height: 14px;
        }
        .user-icon {
            width: 12px;
            height: 12px;
        }
    }
}

.hidden {
    display: none;
}

.workspace {
    @include border-box;
    height: 100%;
    padding-top: 48px;

    .ribbon-outer {
        @include border-box;
        float: left;
        padding: 16px;
        height: 100%;
        .ribbon {
            @include border-radius;
            @include border-box;
            padding: 8px;
            width: 360px;
            background-color: #eeeeee;
            height: 100%;
            overflow: hidden;

            .ribbon-inner {
                @include border-box;
                height: 100%;
                overflow-x: hidden;
                overflow-y: auto;
                textarea {
                    width: 240px;
                }
                .ribbon-header {
                    h1 {
                        font-size: 24px;
                        margin: 4px;
                        float: left;
                    }
                    h2 {
                        font-size: 10px;
                        margin: 4px;
                        float: left;
                    }

                    .secret-indicator {
                        width: 12px;
                        height: 12px;
                        margin-top: 4px;
                        margin-right: 8px;
                        float: right;
                    }
                    .close-button {
                        width: 12px;
                        height: 12px;
                        float: right;
                        margin-top: 4px;
                        margin-right: 4px;
                    }
                    @include clearfix;
                }
                .no-article {
                    height: 48px;
                    text-align: center;
                    color: #AAA;
                }
            }

        }
    }
}

.timeline {
    max-height: 100%;
    .post {
        border-top: 1px dashed #ccc;
        padding-top: 5px;
        padding-bottom: 5px;

        .avatar {
            clear: left;
            width: 48px;
            height: 40px;
            float: left;

            .icon {
                width: 40px;
                height: 40px;
                // border: solid 1px #BBB;
            }
        }

        .entry {
            margin-left: 48px;

            .author {
                .label {
                    font-weight: bold;
                }

                .username {
                    font-size: 85%;
                    color: #444;
                }

                .favored_by {
                    margin-left: 8px;
                    img {
                        vertical-align: middle;
                    }
                }

                .favorite {
                    font-size: 70%;
                    color: #999;
                    @include action-link;
                }
            }

            .content {
                margin-top: 6px;

                margin-bottom: 6px;
            }

            .comments {
                display: none;
                margin-top: 8px;

                .close-button {
                    width: 24px;
                    height: 0px;
                    position: relative;
                    margin-left: -16px;
                    @include action-link;
                }             
            }

            .operation {
                img {
                    width: 16px;
                    height: 16px;
                    vertical-align: top;
                    margin-top: -2px;
                    margin-right: -2px;
                }
                font-size: 75%;
                @include action-link;
                height: 12px;
            }

            .comment-form {
                textarea {
                    width: 240px;
                }
                display: none;
                margin-top: 4px;
            }
        }
    }
}

#lean-overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#stamp-chooser {
    @include dialog;
 
    max-width: 600px;

    p {
        color: #666;
        text-shadow: none; 
    }
}

.dialog {
    @include dialog;
}

#board-menu-trigger {
    float: right;
}

.dialog-grid {
    .item-name {
        text-align: right;
        font-weight: bold;
    }
    td {
        padding: 8px;
    }
    label {
        width: 240px;
    }
}
