body {
    margin: 10px;
    padding: 10px;
}

@mixin action-link {
    a {
        color: #77d;
        text-decoration: none;
    }
    :hover {
        color: #22F;
        text-decoration: underline;
    }
}

.posts {
    .post {
        border-top: 1px dashed #DDD;
        padding-top: 5px;
        padding-bottom: 5px;

        .avatar {
            clear: left;
            width: 48px;
            height: 40px;
            float: left;

            .icon {
                width: 40px;
                height: 40px;
                border: solid 1px #BBB;
            }
        }

        .entry {
            margin-left: 48px;

            .author {
                .label {
                    font-weight: bold;
                }

                .username {
                    font-size: 85%;
                    color: #999;
                }

                .favorite {
                    margin-left: 8px;
                    font-size: 70%;
                    color: #999;
                    @include action-link;
                }
            }

            .content {
                margin-top: 6px;

                margin-bottom: 8px;
            }

            .comments {
                display: none;

                .close-button {
                    width: 24px;
                    height: 0px;
                    position: relative;
                    margin-left: -16px;
                    @include action-link;
                }             
            }

            .operation {
                font-size: 85%;
                @include action-link;
            }

            .comment-form {
                display: none;
            }
        }
    }
}
