body {
    margin: 10px;
    padding: 10px;

    
}

.posts {
    .post {
        border-top: 1px dashed #DDD;
        padding-top: 5px;
        padding-bottom: 5px;

        .avatar {
            clear: left;
            width: 48px;
            height: 40px;
            float: left;

            .icon {
                width: 40px;
                height: 40px;
                border: solid 1px #BBB;
            }
        }

        .entry {
            margin-left: 48px;

            .author {
                .label {
                    font-weight: bold;
                }

                .username {
                    font-size: 85%;
                    color: #999;
                }

                .favorite {
                    margin-left: 8px;
                    font-size: 70%;
                    color: #999;
                    a {
                        color: #77d;
                        text-decoration: none;
                    }
                    :hover {
                        color: #22F;
                        text-decoration: underline;
                    }
                }
            }

            .content {
                margin-top: 6px;

                margin-bottom: 8px;
            }

            .comments {
                display: none;
            }

            .operation {
                font-size: 85%;
                a {
                    color: #77d;
                    text-decoration: none;
                    margin-right: 8px;
                }
                :hover {
                    color: #22F;
                    text-decoration: underline;
                }
            }

            .comment-form {
                display: none;
            }
        }
    }
}
