<ul class="dropdown-menu">
  <li><a href="#" onclick="MyPage.makeRibbon();return false;">新規作成</a></li>
  <li><a href="#" onclick="MyPage.joinRibbon();return false;">参照</a></li>
  <li><a href="#" onclick="MyPage.restoreRibbon(<%= current_board.store.id %>);return false;">復活</a></li>
</ul>
