<ul class="dropdown-menu">
  <li><a href="#" onclick="MyPage.makeRibbon();return false;">新規作成</a></li>
  <li><a href="#" onclick="MyPage.joinRibbon('<%= @user.store.username %>');return false;">共有</a></li>
</ul>
