<ul class="dropdown-menu">
  <% boards.values.each do |board| %>
  <li><a href="<%= local_url("/users/#{@user.store.username}/#{board.store.name}") %>"><%= board.store.label %></a></li>
  <% end %>
  <li class="divider"></li>
  <li><a href="#" onclick="MyPage.makeBoard();return false;">新規作成</a></li>
  <li><a href="#">共有</a></li>
</ul>
