<form action="/foo/ajax/m/editgroup" method="post">
  <!-- TODO: group名とかが固定になってる -->
  <table>
    <tr>
      <td>グループ名</td>
      <td>
        <input type="text" name="group_name">
      </td>
    </tr>
    <tr>
      <td>メンバー</td>
      <td>
        <div class="group-members">
          <p>ユーザが含まれていません</p>
        </div>
      </td>
    </tr>
    <tr>
      <td>追加</td>
      <td>
        <select name="user" disabled="disabled">
        </select>
        <input class="btn btn-primary btn-mini" type="button" value="追加" id="add-member" disabled="disabled">
      </td>
    </tr>
  </table>
  <input type="hidden" name="group_id" value="<%= group.store.id %>">
  <input class="btn btn-primary" type="submit" value="保存" disabled="disabled">
</form>
