<form action="/foo/ajax/m/editpermission" method="post">
  <label class="radio">
    <input type="radio" name="permission" value="public">
    全員に公開する
  </label>
  <label class="radio">
    <input type="radio" name="permission" value="private">
    グループにだけ公開する
    <select name="group">
      <option>こぶた</option>
      <option>たぬき</option>
      <option>きつね</option>
      <option>ねこ</option>
    </select>
  </label>
  <input type="hidden" name="ribbon" value="0">
  <input class="btn btn-primary" type="submit" value="作成">
</form>
