<div class="group-members" id="<%= item_name%>-group-display">
  <% members = group.list_members %>
  <% if members.empty? %>
  <p>ユーザが含まれていません</p>
  <% else %>
  <%   members.each do |member| %>
  <%=    gravatar(member, 16) %>
  <%   end %>
  <% end %>
</div>
