<div class="group-member">
  <% group.list_members.each do |member| %>
  <%   p member %>
  <img src="http://www.gravatar.com/avatar/<%= gravator(member.store.email) %>?s=16&d=mm" alt="gravator"/>
  <% end %>
</div>
