<h1>Observers</h1>
<div id="observers">
</div>
<h1>Activity</h1>
<div>
  <div class="timeline-container">
    <section class="timeline" level="0" ribbon-id="0" timeline-id="<%= current_board.store.activity.store.id %>" version="0" editable="false" writable="false">
</section>
  </div>
</div>

