<form action="/foo/ajax/m/newribbon" method="post">
  <table>
    <tr>
      <td>タイトル</td><td><input class="first" type="text" name="label"></td>
    </tr>
  </table>
  <input type="hidden" name="board" value="<%= current_board.store.id %>">
  <input class="btn btn-primary" type="submit" value="作成" onclick="return MyPage.doPost(this);">
</form>
