<form action="/foo/ajax/m/newboard" method="post">
  <table>
    <tr>
      <td>ID名</td><td><input class="first" type="text" name="name"></td>
    </tr>
    <tr>
      <td>タイトル</td><td><input type="text" name="label"></td>
    </tr>
  </table>
  <input type="submit" value="作成">
</form>
