<form action="<%= local_url("p/newcomment") %>" method="post">
  <input type="hidden" name="parent" value="<%= parent_id %>"/>
  <textarea name="content"></textarea>
  <input type="submit" value="投稿"/>
</form>      

