<form>
  <input type="hidden" name="parent" value="<%= parent_id %>"/>
  <textarea name="content"></textarea>
  <input type="button" value="投稿" onclick="postComment(<%= timeline.store.id %>, $(this).parent());return false;"/>
</form>      
