<div class="root-operation">
  <div class="left">
    <%= erb :_newarticle, :locals => { :timeline => timeline }  %>
  </div>
  <div class="right">
    <a href="<%= local_url('/preferences') %>">個人設定</a>
  </div>
</div>
