<header>
  <div class="headline">
    <span>ぽろったー</span>
    <a href="https://github.com/jonigata/porotter">github</a>
    <a href="<%= local_url('/preferences') %>">個人設定</a>
    <a href="#" data-dropdown="#dropdown-1">dropdown</a>

    <div id="dropdown-1" class="dropdown dropdown-tip">
      <ul class="dropdown-menu">
        <li><a href="#1">Item 1</a></li>
        <li><a href="#2">Item 2</a></li>
        <li><a href="#3">Item 3</a></li>
        <li class="dropdown-divider"></li>
        <li><a href="#4">Item 4</a></li>
        <li><a href="#5">Item 5</a></li>
        <li><a href="#5">Item 6</a></li>
      </ul>
    </div>
  </div>
  <div id="stamp-chooser">
    <%= erb :_stamps %>
  </div>
</header>
