<div class="ribbon-header">
  <h1><%= ribbon.read_source.store.label %></h1>

  <img class="close-button" src="<%= static_url("images/remove.png") %>" onclick="MyPage.closeRibbon(this);return false;">
  <% if ribbon.secret? %>
  <img class="secret-indicator" width="24" height="24" src="<%= static_url("images/lock.png") %>">
  <% end %>
</div>
