<form action="/foo/ajax/m/modifyribbonsettings" method="post">
  <table class="dialog-grid">
    <tr>
      <td class="item-name">リボン名</td>
      <td>
        <input class="text" name="ribbon_label" value="<%= ribbon.label %>">
      </td>
    </tr>
    <tr>
      <td class="item-name">許可</td>
      <td>
        <%= erb :_permissiontable, :locals => { :entity => ribbon, :is_ribbon => true } %>
      </td>
    </tr>
  </table>
  <input type="hidden" name="board" value="<%= current_board.store.id %>">
  <input type="hidden" name="ribbon" value="<%= ribbon.store.id %>">
  <input class="btn btn-primary" type="submit" value="保存">
</form>
