<section class="posts" timeline-id="<%= timeline.store.id %>" version="<%= timeline.store.version %>">
  <% timeline.fetch_all(direction).each do |post| %>
  <%=  erb :_post, :locals => { :user => user, :root => root, :post => post, :comment => comment } %>
  <% end %>
</section>
