<section class="timeline" level="<%= level %>" timeline-id="<%= timeline.store.id %>" version="<%= placeholder ? 0 : timeline.store.version %>">
  <% if !placeholder %>
  <%   timeline.fetch_all(level == 0 ? :upward : :downward).each do |post| %>
  <%=    erb :_post, :locals => { :post => post, :level => level } %>
  <%   end %>
  <% end %>
</section>
