<!doctype html>
<html lang="ja">
  <% timeline = World.singleton.store.global_timeline %>
  <%= erb :_head, :locals => { :timeline => timeline } %>

  <body>
    <%= erb :_preamble %>

    <div class="workspace">
      <div class="ribbon-outer" id="root">
        <section class="ribbon">
          <div class="ribbon-inner" id="root">
            <%= erb :_newarticle, :locals => { :timeline => timeline }  %>
            <section class="timeline" level="0" timeline-id="<%= timeline.store.id %>" version="0">
            </section>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
