<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ぽろったー</title>

    <%= erb :_head %>

    <% timeline = Users.singleton.store.global_timeline %>
    <script>
      $(function() {
        fillRoot(<%= timeline.store.id %>);
        startWatch();
      });
    </script>

  </head>

  <body>
    <header>
      <h1>ぽろったー</h1>
      <p class="subtitle">ぽろったーは、リアルタイムに配信される情報にコメントを付けながら交流できるシステムです。</p>
    </header>

    <%= erb :_newarticle, :locals => { :timeline => timeline }  %>

    <div id="root">
    </div>
  </body>
</html>
