<!doctype html>
<html lang="ja">
  <% timeline = Users.singleton.store.global_timeline %>
  <%= erb :_head, :locals => { :timeline => timeline } %>

  <body>
    <%= erb :_preamble %>
    <%= erb :_owner, :locals => { :timeline => timeline } %>

      <section class="timeline" level="0" timeline-id="<%= timeline.store.id %>" version="0">
      </section>
  </body>
</html>
