<!DOCTYPE html>
<html lang="ja">
  <%= erb :_head %>

  <body>
    <%= erb :_preamble, :locals => { :refered => refered, :current_board => current_board } %>

    <div class="pane-holder">
      <div class="information-pane">
        <%= erb :_information, :locals => { :current_board => current_board } %>
      </div>
      <div class="workspace-pane">
        <%= erb :_workspace, :locals => { :base_url => local_url("/users"), :refered => refered, :current_board => current_board } %>
      </div>

    </div>
  </body>
</html>
