<!doctype html>
<html lang="ja">
  <% timeline = target.store.primary_timeline %>
  <%= erb :_head, :locals => { :timeline => timeline } %>

  <body>
    <%= erb :_preamble %>

    <section>
      <h1><%= target.store.username %>さんの投稿</h1>
    </section>

    <div id="root">
      <%= erb :_timeline, :locals => { :timeline => timeline, :level => 0, :placeholder => true } %>
    </div>
  </body>
</html>
