<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ぽろったー</title>

    <%= erb :_head %>

    <% timeline = target.store.primary_timeline %>
    <script>
      $(function() {
        fillRoot(<%= timeline.store.id %>);
        startWatch();
      });
    </script>

  </head>

  <body>
    <header>
      <h1>ぽろったー</h1>
      <p class="subtitle">ぽろったーは、リアルタイムに配信される情報にコメントを付けながら交流できるシステムです。</p>
    </header>

    <section>
      <h1><%= target.store.username %>さんの投稿</h1>
    </section>

    <div id="root">
    </div>
    
  </body>
</html>
