<!doctype html>
<html lang="ja">
  <% timeline = target.store.primary_timeline %>
  <%= erb :_head, :locals => { :timeline => timeline } %>

  <body>
    <%= erb :_preamble %>

    <section>
      <h1><%= target.store.username %>さんの投稿</h1>
    </section>

    <div id="root">
      <section class="timeline" level="0" timeline-id="<%= timeline.store.id %>" version="0" newest-score="0" oldest-score="0">
      </section>
    </div>
  </body>
</html>
